HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### front end ###
node_modules/
/src/main/resources/static/assets/Account-CX69Kv_9.css
/src/main/resources/static/assets/Account-CssGK9bw.js
/src/main/resources/static/assets/Account-Dlvkkkrz.js
/src/main/resources/static/assets/Announcement-BIOnSPM7.js
/src/main/resources/static/assets/Announcement-DAmt2RfL.js
/src/main/resources/static/assets/Authentication-BMq2g0_M.js
/src/main/resources/static/assets/Authentication-CPgqsA0a.js
/src/main/resources/static/assets/Authority-CvHAeU_c.js
/src/main/resources/static/assets/Authority-o0PGoVqU.js
/src/main/resources/static/assets/Book-BDY1ZQ42.js
/src/main/resources/static/assets/Book-CIl_EG39.js
/src/main/resources/static/assets/Chapter-C0oAWgRC.js
/src/main/resources/static/assets/Chapter-DBsApQVI.js
/src/main/resources/static/assets/Chat-Cy1f0wvE.js
/src/main/resources/static/assets/Chat-czfmztRv.js
/src/main/resources/static/assets/Chat-EJ_JvqX9.js
/src/main/resources/static/assets/Consumer-D42T5OnS.js
/src/main/resources/static/assets/Consumer-DdCfYyMf.js
/src/main/resources/static/assets/index-BVr_p1So.js
/src/main/resources/static/assets/index-Ca2oBTO9.js
/src/main/resources/static/assets/Index-CtvJzo2N.js
/src/main/resources/static/assets/Index-D_BTp1__.js
/src/main/resources/static/assets/Invitation-B_KgyqxF.js
/src/main/resources/static/assets/Invitation-BGHJ2CHz.js
/logs/lively-app.log.2026-04-22.0.gz
/logs/lively-app.log.2026-04-22.1.gz
/logs/lively-app.log.2026-04-23.0.gz
/logs/lively-app.log.2026-04-23.1.gz
/logs/lively-app.log.2026-04-23.2.gz
/src/main/resources/static/assets/Management-BJudZA7l.js
/src/main/resources/static/assets/Management-CBR7wIB4.js
/src/main/resources/static/assets/Message-D6uqt-5V.js
/src/main/resources/static/assets/Message-DoLAg_-K.js
/src/main/resources/static/assets/Modulize-DQqd7BVh.js
/src/main/resources/static/assets/Modulize-e0Ww0DGd.js
/src/main/resources/static/assets/Profile-78XxZ_dj.js
/src/main/resources/static/assets/Profile-BNQOG2ue.js
/src/main/resources/static/assets/Role-AuZ5eE6j.js
/src/main/resources/static/assets/Role-B5zr6sbG.js
/src/main/resources/static/assets/service-DnOU7auJ.js
/src/main/resources/static/assets/service-DuaZhedO.js
/src/main/resources/static/assets/Token-D08YOeNk.js
/src/main/resources/static/assets/Token-Dyk0Akui.js
/src/main/resources/static/assets/Toolbar-0D-gHOwy.js
/src/main/resources/static/assets/Toolbar-Dny6DWXY.js
/src/main/resources/static/assets/url-CGg2mLvv.js
/src/main/resources/static/assets/vue-router-Bmm2y1RW.js
/src/main/resources/static/assets/vue-router-C0-ZWK0f.js
